fastapi
uvicorn[standard]
jinja2
python-multipart
aiofiles
websockets
sqlalchemy
python-socketio
passlib[bcrypt]
python-jose[cryptography]
bcrypt
pillow
httpx
python-dateutil
m3u8
aiohttp
yt-dlp
psycopg2-binary
python-dotenv
